body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    text-align: center;
    margin-bottom: 5%;
}

table{
    border-collapse: collapse;
    border-width: 2px;
    padding : 5px;
    margin: auto;
}

td,th{
    padding : 5px;
    border-style: solid;
}

th{
    background-color: aquamarine;
}